<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">

<div class="section page third_section">
	<a name="contact"></a>
	<div class="gradient gradient_red_yellow gradient_third_section"></div>
	<div class="section_container third_section_container flex_container flex_center">
		<div class="text header_text">
			<h1>Welcome, {{username}}!</h1>
		</div>
	</div>
	<div class="feature offer flex_feature_item offer3">
		<div class="row mt-4">
			<div class="col-md-6">
				<h3>Create a New surfboard:</h3>

				<form class="form new-surfboard-form">
					<div class="form-group">
						<label for="surfboard-city">City:</label>
						<input class="form-input" type="text" id="surfboard-name" name="surfboard-name" />
					</div>
					<form class="form new-surfboard-form">
						<div class="form-group">
							<label for="surfboard-state">State:</label>
							<input class="form-input" type="text" id="surfboard-name" name="surfboard-name" />
						</div>

							<div class="form-group">
								<label for="surfboard-comm">Comments:</label>
								<textarea class="form-input" id="surfboard-desc" name="surfboard-desc"></textarea>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Create</button>
							</div>
						</form>
			</div>
		</div>
	</div>


</div>

{{#if surfboard.length}}
<div class="col-md-6 text header_text">
	<h3>What are the waves saying?</h3>

	{{#each surfboard as |surfboard|}}
	<div class="feature offer flex_feature_item offer3">
		<div class="row mb-2">
			<div class="col-md-8">
				<h4><a href="api/surfboards/{{surfboard.id}}">{{surfboard.username}}</a></h4>
			</div>
			<p>Location of the Waves:
				<span class="text body_text flex_item flex_header_item">{{surfboard.locationState}}</span>
			</p>
			<p>City: {{surfboard.locationCity}} on {{format_date surfboard.date_created}}</p>
			<div class="col-md-7">
				<p>
					{{surfboard.comments}}
				</p>
			</div>

			<div class="col-md-4">
				<button class="btn btn-sm btn-danger" data-id="{{surfboard.id}}">DELETE</button>
			</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}
</div>



<script src="/js/profile.js"></script>

{{!-- {{#if surfboard.length}}
<div class="feature offer flex_feature_item offer3">
	<div class="row mt-4">
		<div class="col-md-6">
			<h3>What are the waves saying?</h3>

			{{#each surfboards |surfboard|}}

			<div class="feature offer flex_feature_item offer3">
				<div class="row mb-2">
					<div class="col-md-8">
						<h4><a href="/surfboard/{{surfboard.id}}">{{surfboard.username}}</a></h4>
					</div>
					<p>Location of the Waves:
						<span class="text body_text flex_item flex_header_item">{{surfboard.locationState}}</span>
					</p>
					<p>City: {{surfboard.locationCity}} on {{format_date surfboard.date_created}}</p>
					<div class="col-md-7">
						<p>
							{{surfboard.comments}}
						</p>
					</div>

					<div class="col-md-4">
						<button class="btn btn-sm btn-danger" data-id="{{surfboard.id}}">DELETE</button>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		{{/if}}
	</div> --}}